:root {
    --color-text: #000;
    --color-text-selectable: #000;
    --color-text-selected: #fff;
    --color-text-selected-inner: #fff;
    --color-text-disable: #949494;
    --color-arrow: #262626;
    --color-bg: #fff;
    --color-border: #5434cb;
    --color-bg-selectable: #e9e9e9;
    --color-bg-selected: #5434cb;
    --color-bg-selected-inner: #765dd5;
    --border-radius-general: 2px;
    --border-radius-cell: 4px;
}

.dario {
    position: absolute;
    top: 0rem;
    left: 0rem;
    overflow: hidden;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    color: var(--color-text);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.24);
    border-radius: var(--border-radius-general);
}

.dario-nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
}

.dario-nav-arrow {
    cursor: pointer;
    border-radius: var(--border-radius-general);
}

.dario-nav-arrow svg {
    display: block;
    width: 32px;
    height: 32px;
}

.dario-nav-arrow svg path {
    fill: none;
    stroke: var(--color-arrow);
    stroke-width: 2px;
}

.dario-nav-center {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.dario-header {
    display: flex;
}

.dario-header > div {
    width: 50%;
    display: grid;
    text-align: center;
    padding: 10px;
    grid-template-columns: repeat(7, 1fr);
}

.dario-content {
    display: flex;
}

.dario-content > div {
    width: 50%;
    padding: 10px;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.dario-cell {
    padding: 8px;
    text-align: center;
    cursor: pointer;
    border-radius: var(--border-radius-cell);
    transition: background-color 0.5s ease;
}

.dario-cell:hover {
    background-color: var(--color-bg-selectable);
}

.dario-content .selected-inner,
.dario-content .selected-innerh {
    background-color: var(--color-bg-selected-inner);
    color: var(--color-text-selected-inner);
}

.dario-cell--selected {
    background-color: var(--color-bg-selected);
    color: var(--color-text-selected);
}

.dario-cell--disable {
    color: var(--color-text-disable);
    cursor: default;
}
